@model LineUpApp.Models.pick

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Pick</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.match_id, "match_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("match_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.match_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            League's Team Name
            <div class="col-md-10">
                @Html.DropDownList("league_team_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.league_team_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Picked
            <div class="col-md-10">
                @Html.DropDownList("picked_team_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.picked_team_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Confidence Value
            <div class="col-md-10">
                @Html.EditorFor(model => model.confidence_value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.confidence_value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
